
  .loader_wrapper{
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .loader {
    position: relative;
    width: 75px;
    height: 100px;
  }
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #fff;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
            animation: barUp1 4s infinite;
  }
  .loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
            animation: barUp2 4s infinite;
  }
  .loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
            animation: barUp3 4s infinite;
  }
  .loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
            animation: barUp4 4s infinite;
  }
  .loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
            animation: barUp5 4s infinite;
  }
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: ball 4s infinite;
            animation: ball 4s infinite;
  }
  
  @-webkit-keyframes ball {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(8px, -14px);
    }
    10% {
      transform: translate(15px, -10px);
    }
    17% {
      transform: translate(23px, -24px);
    }
    20% {
      transform: translate(30px, -20px);
    }
    27% {
      transform: translate(38px, -34px);
    }
    30% {
      transform: translate(45px, -30px);
    }
    37% {
      transform: translate(53px, -44px);
    }
    40% {
      transform: translate(60px, -40px);
    }
    50% {
      transform: translate(60px, 0);
    }
    57% {
      transform: translate(53px, -14px);
    }
    60% {
      transform: translate(45px, -10px);
    }
    67% {
      transform: translate(37px, -24px);
    }
    70% {
      transform: translate(30px, -20px);
    }
    77% {
      transform: translate(22px, -34px);
    }
    80% {
      transform: translate(15px, -30px);
    }
    87% {
      transform: translate(7px, -44px);
    }
    90% {
      transform: translate(0, -40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes ball {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(8px, -14px);
    }
    10% {
      transform: translate(15px, -10px);
    }
    17% {
      transform: translate(23px, -24px);
    }
    20% {
      transform: translate(30px, -20px);
    }
    27% {
      transform: translate(38px, -34px);
    }
    30% {
      transform: translate(45px, -30px);
    }
    37% {
      transform: translate(53px, -44px);
    }
    40% {
      transform: translate(60px, -40px);
    }
    50% {
      transform: translate(60px, 0);
    }
    57% {
      transform: translate(53px, -14px);
    }
    60% {
      transform: translate(45px, -10px);
    }
    67% {
      transform: translate(37px, -24px);
    }
    70% {
      transform: translate(30px, -20px);
    }
    77% {
      transform: translate(22px, -34px);
    }
    80% {
      transform: translate(15px, -30px);
    }
    87% {
      transform: translate(7px, -44px);
    }
    90% {
      transform: translate(0, -40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @-webkit-keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
    40% {
      transform: scale(1, 0.2);
    }
    50% {
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 0.2);
    }
  }
  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
    40% {
      transform: scale(1, 0.2);
    }
    50% {
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 0.2);
    }
  }
  @-webkit-keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
    40% {
      transform: scale(1, 0.4);
    }
    50% {
      transform: scale(1, 0.8);
    }
    90% {
      transform: scale(1, 0.8);
    }
    100% {
      transform: scale(1, 0.4);
    }
  }
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
    40% {
      transform: scale(1, 0.4);
    }
    50% {
      transform: scale(1, 0.8);
    }
    90% {
      transform: scale(1, 0.8);
    }
    100% {
      transform: scale(1, 0.4);
    }
  }
  @-webkit-keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
    100% {
      transform: scale(1, 0.6);
    }
  }
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
    100% {
      transform: scale(1, 0.6);
    }
  }
  @-webkit-keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
    40% {
      transform: scale(1, 0.8);
    }
    50% {
      transform: scale(1, 0.4);
    }
    90% {
      transform: scale(1, 0.4);
    }
    100% {
      transform: scale(1, 0.8);
    }
  }
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
    40% {
      transform: scale(1, 0.8);
    }
    50% {
      transform: scale(1, 0.4);
    }
    90% {
      transform: scale(1, 0.4);
    }
    100% {
      transform: scale(1, 0.8);
    }
  }
  @-webkit-keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
    40% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.2);
    }
    90% {
      transform: scale(1, 0.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
    40% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.2);
    }
    90% {
      transform: scale(1, 0.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.lunbo {
    height: 90vh;
}
#myCarousel{
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
}
.lunbo .carousel-inner .item img{
    box-shadow: 0 0 0 0 white;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
.lunbo .carousel-inner {
    background-color: black;
}

#video{
    width: 100%;
    
}
#video video{
    width: 100%;
}
.BG{
    box-shadow: 0px -20px 0 0 black;
    background-color: black;
}
.BG .container{
    text-align: center;
    font-size: 20px;
    color: white;
}
.BG .word{
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    transition: all 0.85s;
    transform: translateY(-100px);
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 50px;
}
.svg_1 .inside{
    background-color: black !important;
    display: flex;
    justify-content: space-around;
}
.svg_1 .left{
    width: 50%;
}

.svg_1 .right{
    position: sticky;
    top: 35vh;
    width: 50%;
    height: 50%;
}
.svg_1 .right_word{
    transition: all 0.85s;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 50px;
}

.svg_2 .inside{
    background-color: black !important;
    display: flex;
    justify-content: space-around;
}
.svg_2 .left{
    width: 50%;
}

.svg_2 .right{
    position: sticky;
    top: 18vh;
    width: 50%;
    height: 50%;
}
.svg_2 .right_word{
    transition: all 0.85s;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 50px;
}
.section_1 .inside{
    position: sticky;
    top: 45vh;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(70px);
    justify-content: center;
}
.section_1 h2{
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.section_1 h3{
    letter-spacing: 1px;
}

/*footer部分*/
#footer{
    margin-top: 40px;
}
#footer .part::before{
    z-index: -100;
    content: ' ';
    width: 100%;
    height: 0%;
    position: absolute;
    /* color: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%); */
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s;
}
#footer .part:hover:before{
    height: 100%;
    top: 0%;
}
#footer .part{
    /* margin-right: 15px;
    margin-left: 15px; */
    margin-bottom: 20px;
    border-radius: 5px;
    /* background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#footer .part span{
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
}
.img_container{
    margin: 0 auto;
    width: 90%;
}
#footer img{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 85%;
}


/*加载动画*/


