*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 导航页面 */
nav{
    padding-top: 7px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 4px 8px 0px black;
    padding-right: 100px;
    padding-left: 85px;
    background-color: #256a45;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 115px;
}
nav img{
    transition: all 0.2s linear;
    width: 100px;
    height: 100px;
}

nav>ul{
    display: flex;
    height: 100%;
}
nav>ul li{
    font-size: 18px;
    line-height: 115px;
    text-align: center;
    color:aliceblue;
    width: 105px;
    height: 100%;
}

nav>ul>li span{
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
      user-select:none;
}
.left_point{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
}
.left_point:hover{
    cursor: pointer;
}
.down_li{
    display: none;
    width: 185px;
}
.down_li li{
    box-shadow: 3px 3px 5px 1px black;
    line-height: 60px;
    width: 185px;
    height: 60px;
    border: 1px solid #00000091;
}
.down_li li a{
    display: inline-block;
    width: 185px;
   color: black;
}

nav>ul>li:hover{
    cursor: pointer;
    background-color: rgb(81, 132, 97);
}

nav span{
    color: white;
}
nav li a{
    color: black;
}

ul>a li{

    color: black;
}
.down_li li{
    background-color: hsl(24deg 100% 99% / 50%);
    color: black;
}
a:hover{
    text-decoration:none;
}
.nav .inside::before{
    content: '';
    width: 0px;
    height: 5px;
    background-color:black;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.3s;
}
.nav .inside::after{
    content: '';
    width: 0px;
    height: 5px;
    background-color:black;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.5s;
}
.inside:hover{
    background-color: hsl(24deg 100% 99% / 50%);
}
.inside:hover:before{
    width: 52px;
    left:0%;
}
.inside:hover:after{
    width: 52px;
    right:0%;
}
.inside{
    position: relative;
    transition: all 0.3s linear;
}
.none{
    display: none;
}
